@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>Em caso de dúvidas entre em contato via email.</p>
<a href="mailto:pbank082@gmail.com?subject=Questions" title="">Enviar Email</a>
