
@{
    ViewData["Title"] = "Menu";
}

<div class="row col-sm-12" style="padding-top:10px">

    <div class="col-sm-4 text-center"style="padding-top:20px">
        <a href="../Produtos/Index">
            <img src="~/img/1.png" />
            <br /><br />
            <h4>Produtos</h4>
        </a>
    </div>
    <div class="col-sm-4 text-center"style="padding-top:20px">
        <a href="../Servicos/Index">
            <img src="~/img/3.png" />
            <br /><br />
            <h4>Serviços</h4>
        </a>
    </div>
    <div class="col-sm-4 text-center"style="padding-top:20px">
        <a href="../Usuarios/Relatorios">
            <img src="~/img/2.png" />
            <br /><br />
            <h4>Relatórios</h4>
        </a>
    </div>
</div>
