@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<div class="alert-success" style="background-color:rgba(239, 239, 239, 0.80); border-radius:10px; padding:20px; color:dimgrey">
    <h2>Parabéns sua conta foi criada com sucesso! Clique <a href="../Usuarios/Login">aqui</a> para efetuar o login.</h2>
</div>

